<%- include("../partials/head") %>
</head>
<body class="bg-gray-100 text-gray-900">
<%- include('../partials/navbar') %>
<h2 class="flex justify-center text-3xl font-extrabold font-mono text-red-600 mt-5">Hey? Here are Your Host List</h2>
<main class="container mx-auto w-full md:w-3/4 lg:w-1/2 mt-8 p-8 bg-white shadow-xl rounded-lg">
   
<div class="container mx-auto mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% registerHomes.forEach(home => { %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
          <img class="w-full h-48 object-cover" src="<%= home.imageUrl %>" alt="Home Image">
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">  <%= home.houseName %></h3>
            <p class="text-red-600  ">Price: <span class="text-red-600"> Rs <%= home.price %> per night </span></p>
            <p class="text-black">Location:<span class="text-gray-600"> <%= home.location %> </span></p>
            <div class="flex items-center justify-end mt-2">
              <span class="text-yellow-500 ">
                <%= home.rating %> stars ⭐
              </span>
            </div>
            <a href="/host/edit-home/<%=home.id%>?editing=true" class="bg-blue-500 p-2">Edit</a>
            <button class="bg-red-500 p-2">Delete</button>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  </main>
    
    
</body>
</html>
